<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>Accepted</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
</head>


<body>
    <h1>Accepted</h1>


    <p>The Information has been succefully added!</p>
    <p>Please see "Show Weather" to see all additions.</p>
    <br>
    <a href="/">Back to Home</a>
</body>


</html>