<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>Removed</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
</head>


<body>
    <h1>Removal of All Applications</h1>


    <p>All applications have been removed from the database. Number of applications removed: <%- numbers %></p>
    <br>
    <a href="/">Back to Home</a>
</body>


</html>
